language: c
branches:
  only:
  - master
  - travis

dist: trusty

cache:
  directories:
    - $HOME/.cabsnap

matrix:
  include:
    - env: TEST=MAIN GHC_VER=8.0.2 BUILD=CABAL CABAL_VER=1.24
      addons:
        apt:
          packages:
            - alex-3.1.7
            - cabal-install-1.24
            - ghc-8.0.2
            - happy-1.19.5
          sources:
            - hvr-ghc

before_install:
  - export PATH=/opt/ghc/$GHC_VER/bin:/opt/cabal/$CABAL_VER/bin:/opt/alex/3.1.7/bin:/opt/happy/1.19.5/bin:~/.cabal/bin/:$PATH;

install:
  - cabal update
  - sed -i 's/^jobs:/-- jobs:/' $HOME/.cabal/config
  # get master Agda
  - git clone https://github.com/agda/agda --depth=1
  - cd agda
  # checking whether .ghc is still valid
  - cabal install --only-dependencies --dry -v > $HOME/installplan.txt
  - sed -i -e '1,/^Resolving /d' $HOME/installplan.txt; cat $HOME/installplan.txt
  - touch $HOME/.cabsnap/installplan.txt
  - mkdir -p $HOME/.cabsnap/ghc $HOME/.cabsnap/lib $HOME/.cabsnap/share $HOME/.cabsnap/bin
  - if diff -u $HOME/.cabsnap/installplan.txt $HOME/installplan.txt;
    then
      echo "cabal build-cache HIT";
      rm -rfv .ghc;
      cp -a $HOME/.cabsnap/ghc $HOME/.ghc;
      cp -a $HOME/.cabsnap/lib $HOME/.cabsnap/share $HOME/.cabsnap/bin $HOME/.cabal/;
    else
      echo "cabal build-cache MISS";
      rm -rf $HOME/.cabsnap;
      mkdir -p $HOME/.ghc $HOME/.cabal/lib $HOME/.cabal/share $HOME/.cabal/bin;
    fi
  - make install
  - cd -
  # installing fix-agda-whitespace
  - cd agda/src/fix-agda-whitespace
  - cabal install fix-agda-whitespace.cabal
  - cd -
  - yes | rm -R agda/
  # snapshot package-db on cache miss
  - echo "snapshotting package-db to build-cache";
    mkdir $HOME/.cabsnap;
    cp -a $HOME/.ghc $HOME/.cabsnap/ghc;
    cp -a $HOME/.cabal/lib $HOME/.cabal/share $HOME/.cabal/bin $HOME/installplan.txt $HOME/.cabsnap/;

script:
  - make
